body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: $link-color;
    &.router-link-exact-active {
      color: $link-active-color;
    }
  }
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
    color: $link-active-color;
}

.form-group {
    label {
        font-size: 1.7rem;
        display: block;
    }
    input {
        width: 400px;
        padding: 0.5rem 0.75rem;
        font-size: 1.5rem;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
    }
}

button {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    background: #216bcc;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.breadcrumbs {
    .breadcrumb {
        &:after {
            content: "/";
            display: inline-block;
            padding: 0 5px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
